.modal-btn {
    
    
    z-index: 1000;
    margin-left: 1040px;
    margin-top: 30px;
    border-color: black;
    color: black;
    position: absolute;
    


}
.pesquisar {
    position: relative;

}

